// Utilites
@import "utils/fonts",
        "utils/reset",
        "utils/libs",
        "utils/vars",
        "utils/mixins";

html {
    line-height: $mainLineHeight;
    font-size: $mainFontSize;
    color: $mainFontColor;
    height: 100%;
    @media screen and (max-width: $desktopWidth) {
          font-size: 16px;
    }
    @media screen and (max-width: $tableWidth) {
          font-size: 15px;
    }
    @media screen and (max-width: $phoneWidth) {
          font-size: 14px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: $mainFont;
      font-size: $mainFontSize;
    font-weight: $mainFontWeight;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
            text‑size‑adjust: 100%;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
}


@import "common",

        // Modules
        "modules/mobile", "modules/header", "modules/header", "modules/gallery", "modules/menu",
        "modules/overlay_active_img",

        // Components
        "components/button";
