// Font
$mainFont                : 'Philosopher', sans-serif;
$latoFont                : 'Lato', sans-serif;

// Size
$mainFontColor           : #3b3e49;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Colors
$brown                   : #e1aa6e;
$brown-dark              : #ba8e5b;

$grey-darkest            : #454546;
$grey-darker             : #444444;
$grey-dark               : #777777;
$grey                    : #999999;
$grey-light              : #b0abab;
$grey-lighter            : #cccccc;
$grey-lightest           : #eeeeee;



$blue                    : #1c97c5;
$blue-dark               : #008ea5;
$blue-darker             : #367ab7;


// Main color
$default-color           : #ffffff;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;
$green-color             : #3bd678;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;


// border-radius
$border-radius: 50%;

$appBg: #fff;

$blue-light: #91dbff;