.overlay-active-img {
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    max-width: 350px;
    width: 100%;
    opacity: 0;
    z-index: 100000;
    background: rgba(0, 0, 0, .5);
    transition: opacity .5s ease-in-out;

    &__content {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 100%;
        height: calc(100% - 250px);
        transform: translateY(-50%) scale(0);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &.slideOut {
            top: 155px;
            transform: translateY(0) scale(1);
            animation: slideOut .6s ease-in-out forwards;
        }
    }

    &.hide {
        visibility: hidden;
    }

    &.active {
        opacity: 1;

        & .overlay-active-img__content {
            animation: slideIn .6s ease-in-out forwards;
        }
    }
}

@keyframes slideIn {
    60% {
        transform: translateY(0) scale(.5);
    }
    100% {
        top: 155px;
        transform: translateY(0) scale(1);
    }
}

@keyframes slideOut {
    40% {
        top: 155px;
        transform: translateY(0) scale(.5);
    }
    100% {
        top: 80%;
        transform: translateY(0) scale(0);
    }
}
